@if (loading()) {
  <app-over-content-spinner [spinning]="loading()"></app-over-content-spinner>
}
<div class="container">
  <form class="data-protection-form">
    <mat-form-field class="string-input">
      <mat-label>Enter your string value</mat-label>
      <textarea
        name="source-value"
        matInput
        placeholder="Raw string or protected string"
        [(ngModel)]="text"
      ></textarea>
    </mat-form-field>
    <div class="actions">
      <button matButton="filled" [disabled]="!text" (click)="onEncode()">Protect</button>
      <button matButton="filled" [disabled]="!text" (click)="onDecode()">Unprotect</button>
    </div>
  </form>
  @if (result(); as res) {
    <div class="result">
      {{ res }}
    </div>
  }
</div>
