@if (loading()) {
  <app-over-content-spinner [spinning]="loading()"></app-over-content-spinner>
}
<div class="container">
  <form class="secret-manager-form">
    <mat-form-field class="string-input">
      <mat-label>Enter your string value</mat-label>
      <textarea
        name="source-value"
        matInput
        placeholder="Enter your secret message here"
        [(ngModel)]="text"
      ></textarea>
    </mat-form-field>
    <div class="actions">
      <button matButton="filled" [disabled]="!text" (click)="onCreate()">Create</button>
    </div>
  </form>
  <div class="result">
    @if (location(); as loc) {
      <button matIconButton aria-label="Copy text" (click)="onCopy()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <div class="result">
        {{ this.uiLocation() }}
      </div>
    }
  </div>
</div>
