:host {
  height: 100%;
}
.sign-in-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100%;

  .credentials {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 50%;
    .user-name,
    .password {
      width: 100%;
    }
  }
}
