:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-title {
  margin-right: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.main-menu-container {
  flex: 1;

  .main-menu-slide-over {
    border-right: 1px solid var(--mat-sys-outline-variant);
    background-color: var(--mat-sys-surface);
    border-radius: 0;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  cursor: pointer;
}

.toolbar-icon:not(:last-child) {
  margin-right: 0.5rem;
}

.side-nav-items {
  position: relative;
  padding: 3px 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;

  .menu-button {
    width: 100%;
  }
}

.app-title {
  user-select: none;
}
