<mat-toolbar>
  <button
    mat-icon-button
    class="toolbar-icon menu-icon"
    aria-label="Main menu"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div
    matRipple
    [matRippleCentered]="false"
    [matRippleRadius]="12"
    matRippleColor="var(--mat-sys-inverse-primary)"
  >
    <span class="app-title" routerLink="/">Kimlyk Home</span>
  </div>
  @for (item of menu(); track $index) {
    <button
      matButton
      class="menu-button"
      [ngClass]="{ active: item.name === currentSectionName() }"
      (click)="openSideNav(item)"
    >
      {{ item.title }}
    </button>
  }
  <span class="toolbar-spacer"></span>
  @if (auth.authenticated()) {
    <button
      matIconButton
      [matMenuTriggerFor]="userMenu"
      class="toolbar-icon user-icon"
      aria-label="User profile"
    >
      <mat-icon style="color: var(--mat-sys-primary)">person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onNotesClicked()">
        <mat-icon>file_open</mat-icon>
        <span>User notes</span>
      </button>
      <button mat-menu-item (click)="onLogOff()">
        <mat-icon>logout</mat-icon>
        <span>Log Off</span>
      </button>
    </mat-menu>
  } @else {
    <button
      matIconButton
      (click)="onSignInClick()"
      class="toolbar-icon user-icon"
      aria-label="Sign in"
    >
      <mat-icon>person</mat-icon>
    </button>
  }
</mat-toolbar>
<mat-sidenav-container class="main-menu-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [fixedInViewport]="true"
    [fixedTopGap]="isMobile() ? 56 : 64"
    class="main-menu-slide-over"
  >
    <div class="side-nav-items">
      @for (item of currentSection()?.sideNavItems; track $index) {
        @if (auth.authenticated() || !item.publiclyInvisible) {
          @if (item.type === 'button') {
            <button matButton class="menu-button" (click)="item?.action(item)">
              {{ item.title }}
            </button>
          }
          @if (item.type === 'divider') {
            <mat-divider></mat-divider>
          }
        }
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
