@use 'mixins' as *;

.welcome-banner {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.article {
  margin: 1em 2em;
  .welcome-message {
    @include text-align-right;
  }

  .welcome-message-author {
    @include text-align-right;
    font-style: italic;
    color: var(--mat-sys-outline-variant);
  }

  .divider {
    margin: 2em 0;
    color: var(--mat-sys-outline-variant);
  }

  .landing-body-text {
    @include text-align-right();
  }
}
